.grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grid__item {
    width: 350px;
    height: 500px;
    margin-bottom: 20px;
    border: 4px solid black;
}

.item__image {
    display: block;
    width: 100%;
    height: 350px;
    border-bottom: 4px solid black;
}

.item__text {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.item__text:last-of-type {
    margin-top: 10px;
}

.item__button {
    font-size: 18px;
    height: 20px;
    display: block;
    margin: 10px auto 0 auto;
    text-decoration: none;
    color: black;
    border: 1px solid red;
    text-align: center;
    width: 100px;
    transition-duration: 0.4s;
    transition-property: all;
}

.item__button:hover {
    transform: scale(1.1);
}